.editor {
  padding: 2rem;
  cursor: default;
  font-family: SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
  /* user-select: none; */
}

.selected .token:not(.trivia),
.selected.token:not(.trivia) {
  background-color: darkblue;
}

.dragging {
  color: lightgrey !important;
  background-color: lightgrey !important;
}

.selected .token:not(.trivia):not([contenteditable]),
.selected.token:not(.trivia):not([contenteditable]) {
  background-color: blue;
}

.highlighted .token:not(.trivia):not([contenteditable]),
.highlighted.token:not(.trivia):not([contenteditable]) {
  background-color: rgb(0, 141, 61);
}

.token[contenteditable='true'] {
  outline: blue solid 2px;
  border-radius: 0.3em;
  cursor: text;
}

.gap {
  background: lightgrey;
}

.selected .gap,
.selected.gap {
  margin: -2px;
  border: 2px solid blue;
}

#dragShadow {
  position: absolute;
}
